/* -------------------------------------------------------
Navbar appearance when contact page is shown
*/
a[href="contact.html"] {
  text-decoration: underline;
}
a[href="photo.html"], a[href="index.html"] {
  color: rgba(255, 255, 255, 0.6);
}
/* -------------------------------------------------------
contact info
*/

/* icons that appear to the left of the labels */
#address-img img, #phone-img img, #email-img img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* info labels */
.contact-label {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* the actual address, phone nr, email */
.contact-value {
  color: gray;
  margin-bottom: 15px;
}

/* contact info is arranged in a table */
table {
  border-spacing: 10px 5px;
}
/* -------------------------------------------------------
contact form
*/

/* the title of the contact form */
#contact-form h2 {
  font-size: 1.75rem;
}

/* fit input boxes and text area to their container */
input[type="text"], textarea {
  width: 100%;
}

/* textarea should hold 500 chars */
textarea {
  height: 13.8rem;
}

/* the submit button */
input[type="submit"] {
  color: white;
  border: 1px solid green;
  border-radius: 3px;
  padding: 9px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #54a89a, #4d968a);
}

/* press effect */
input[type="submit"]:active {
  position: relative;
  top: 1px;
}