/* -------------------------------------------------------
Navbar appearance when gallery page is shown
*/
a[href="photo.html"] {
  text-decoration: underline;
}
a[href="index.html"], a[href="contact.html"] {
  color: rgba(255, 255, 255, 0.6);
}
/* -------------------------------------------------------
gallery
*/

/* photo/video */
figure {
  max-width: 450px;
  margin-bottom: 15px;
  margin-right: 20px;
}

/* photo,video,audio elements:
   all of them should fit their container */
figure img {
  width: 100%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,.2);
}
figure video {
  width: 100%;
  display: block;
}
#audio-element audio {
  max-width: 100%;
}

/* alignment of photo/video elements on the page */
.img-vid-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

/* alignment of audio elements on the page */
#audio-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#audio-element {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* space around the title of photo/video/audio sections */
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* distance between a photo and its caption */
figcaption {
  margin-top: .2rem;
}

/* space around the label of an audio file */
#audio-list p {
  margin-bottom: 0;
  margin-right: 20px;
}

/* center align main section */
main {
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}