/* icons that appear to the left of the labels */
#address-img img, #phone-img img, #email-img img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* info labels */
.contact-label {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* the actual address, phone nr, email */
.contact-value {
  color: gray;
  margin-bottom: 15px;
}

/* contact info is arranged in a table */
table {
  border-spacing: 10px 5px;
  margin-bottom: 2rem;
}
/* -------------------------------------------------------
contact form
*/

/* the title of the contact form */
#contact-form h2 {
  font-size: 1.75rem;
}

/* make input boxes as wide as possible */
input[type="text"], input[type="email"], textarea {
  width: 100%;
  background-color: #f4f8ff;
  border-radius: 3px;
  border: 1px solid silver;
}

/* message box should hold 500 chars */
textarea {
  height: 13.8rem;
}

/* the submit button */
input[type="submit"] {
  color: white;
  border: 1px solid green;
  border-radius: 3px;
  padding: 8px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #54a89a, #4d968a);
  transform: scale(1);
  transition: transform 250ms;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  transform: scale(1.05);
  color: white;
}

/* button press effect */
input[type="submit"]:active {
  position: relative;
  top: 1px;
}

/* the labels of the input boxes */
.form-label {
  margin-bottom: .1rem;
}

/* the label and the corresponding input area as a whole */
.form-element {
  margin-bottom: .8rem;
}

/* -------------------------------------------------------
alignment and positioning of the contact info/form section
and the left image.
*/
#img-info-form {
  max-width: 95rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.no-nav {
  background-color: white;
}

@media screen and (min-width: 35rem) {
  #left-img {
    background-image: url(../images/space.jpg);
    background-size: cover;
    flex: min-content;
  }

  .no-nav {
    background-color: whitesmoke;
  }
}
