/* photo/video container */
figure {
  max-width: 450px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

/* photo,video,audio elements */
figure img {
  width: 100%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,.2);
}
figure video {
  width: 100%;
  display: block;
}
.audio-element audio {
  max-width: 100%;
}

/* page alignment of photo/video entries */
.img-vid-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

/* page alignment of the list that has the audio entries */
#audio-list {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* self alignment of the label,controls for each audio entry */
.audio-element {
  width: 100%; /* fixes IE11 overflow */
  text-align: center;
}

/* space around the title of photo/video/audio sections */
h3 {
  margin-top: 32px;
  margin-bottom: 1rem;
}

/* distance between a photo and its caption */
figcaption {
  margin-top: .2rem;
}

/* space around the label of an audio entry */
#audio-list p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

/* center align the whole gallery */
main {
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 16px;
}

@media only screen and (max-width: 35rem) {
  figure {
    margin-right: 0;
    margin-left: 0;
  }
}